(logging/init {:file "/var/log/riemann/riemann.log"})
 
(let [host "0.0.0.0"]
  (tcp-server {:host host})
  (udp-server {:host host})
  (ws-server  {:host host}))
 
(periodically-expire 5)
 
(def influx {
        :version  :0.9
        :host     "k8s_influxdb.cd063e1d_monitoring-influxdb-3065341217-mgcfv_kube-system_637c7f02-c5d9-11e6-89f0-02fde3d4b65f_42d5ce06"
        :port     8086
        :username "root"
        :password "root"
        :db       "riemann"
    }
)
 
(def influxBatchSender
  (batch 100 1/10
         (async-queue! :agg {:queue-size 1000
                             :core-pool-size 1
                             :max-pool-size 4
                             :keep-alive-time 60000}
                             (influxdb influx))))
   
(let [index (index)]
  (streams
   influxBatchSender
   #(info %)
  )
)
